psycopg2-binary
sentence-transformers
mlflow
langchain
langchain_openai
langchain_anthropic
langchain_core
tiktoken
transformers>=4.37.0
pillow
optimum[onnxruntime]
doclayout_yolo
pymupdf
frontend
tools
python-dotenv
timm
paddleocr