psycopg2-binary
sentence-transformers
mlflow
langchain
langchain_openai
langchain_anthropic
langchain_core
langchain_community
tiktoken
transformers>=4.37.0
pillow
optimum[onnxruntime]
doclayout_yolo
PyMuPDF
frontend
tools
python-dotenv
timm
paddleocr
einops
ninja
networkx
scikit-learn
bert-extractive-summarizer
fitz
passlib
google-cloud-texttospeech
boto3
mtranslate
google-generativeai
attrdict
senetencepiece
accelerate